html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: url('../images/rectangle2.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.mobile-note p {
  color: white;
    text-align: center;
    font-weight: 100;
    position: relative;
    top: 20px;
}

.mobile-note img {
  width: 600px;
    display: block;
    margin: 0 auto;
}

.container {
  width: 100%;
  height: 100%;
}

.container div {
  overflow: scroll;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/***********\

#SCREEN 1

\***********/

#screen1 {
  /* padding-left: 50px; */
  overflow: hidden;
}

.screen1-sect1 {
  padding: 20px 0 20px 0;
  margin: 0 auto;
}

.screen1-sect1 h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.screen1-sect2 {
  min-width: 286px;
  margin: 0 auto;
  font-size: 1.4em;
}

.screen1-sect2 h3 {
  color: white;
}

.screen1-sect2 p {
  color: white;
}

.swipe {
  font-size: 0.8em;
}

ul.peppermint-dots > li.peppermint-active-dot > span {
    margin: -6px 0 0 -6px;
    width: 10px;
    height: 10px;
    border: 1px solid #00bd00;
    background: #00bd00 !important;
}

.screen1-sect2 figure img {
  width: 280px;
  height: auto;
}

.peppermint-dots {
  margin-top: 0 !important;
}

.screen1-sect3 {
    margin: 0 auto;
    margin-bottom: 100px;
}

.next {
    color: white;
    background: #00bd00;
    border-radius: 5px;
    width: 180px;
    padding: 7%;
    text-align: center;
    font-size: 1.4em;
}

.next:hover {
  background: #008f00;
}

/***********\

#SCREEN 2

\***********/

#screen2 {
  background: white;
  height: 100%;
}

.header {
  background: #FFF;
  display: flex;
}

.header img {
  display: block;
  height: 46px;
  width: 46px;
  margin: 10px auto;
}

.search input {
  display: block;

  padding: 16px;
  background: ;
  border: none;
  width: 100%;
  font-size: 1.4em;
  text-align: center;
  outline: none;
  transition: background 0.3s;
  background: #F7F7F7 url('../images/search-ic.png') no-repeat 95% center;
  text-align: left;
  font-size: 16px;
}

.search input::placeholder {
  color: #d4d4d4;
}

.search input:focus {
  background: #d4d4d4;
}

.list-header {
  display: flex;
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  background: #60D017;
}

#symptoms {
  width: 50%;
  text-align: center;
}

#ingredients {
  width: 50%;
  text-align: center;
}

#symptoms h2 {
  margin: 25px auto 15px auto;
  font-weight: 600;
}

#ingredients h2 {
  margin: 25px auto 15px auto;
  font-weight: 600;
}

#ingredientSymptoms {
  width: 50%;
  text-align: center;
}

#ingredientIngredients {
  width: 50%;
  text-align: center;
}

#ingredientSymptoms h2 {
  margin: 25px auto 15px auto;
  font-weight: 600;
}

#ingredientIngredients h2 {
  margin: 25px auto 15px auto;
  font-weight: 600;
}

.symptoms-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFF;
  margin: 0 auto;
}

.ingredients-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFF;
  margin: 0 auto;
}

/*
Highest Level List
*/
.list {
  height: 67%;
  margin-bottom: 63px;
}

/*
Highest Level Menu Items
*/
.list ul li {
  /* padding-left: 20px; */
  /* padding: 20px 20px 20px 20px; */
  border-bottom: 1px solid gray;
  /* display: flex; */
  /* padding-bottom: 30px; */
  padding: 23px 0;
}

/* .list ul li::after {
  content: "";

} */

.list ul li img {
  height: 30%;
  width: auto;
  position: relative;
  top: 5px;
  /* margin-right: 10px; */
  margin: 6px 10px;
}

/*
2nd Level List Header
*/
.list ul li p {
  width: auto;
  display: inline;
  position: relative;
}


/*
2nd Level List
*/
.list ul li ul {
  margin-top: 25px;
}

/*
FIRST 2nd Level List Item
*/
.list ul li ul li:first-of-type {
  border-top: 1px solid gray;
}

.list ul li ul li:last-of-type {
  border: none;
  padding-bottom: 0;
}

/*
2nd Level List Item ARROW
*/
.list ul li ul li img {
  margin-left: 30px;
}

/*
2nd Level List Item
*/
.list ul li ul li {

}

.footer {
  background: #253031;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer img {
  height: 50%;
  width: auto;
}

/***********\

#SCREEN 3

\***********/

/* .food-item {
  padding-left: 20px;
  padding: 20px 0 20px 20px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
} */

.location-bar p {
  color: #C8C8C8;
  font-size: 10px;
  margin-left: 5px;
}

.location-bar img {
  display: inline;
  margin: auto 5px;
}

.ingredient-info {
  margin-bottom: 63px;
}

.ingredient-info-img {
  width: 100%;
}

.ingredient-info-container {
  height: 225px;
  overflow: hidden !important;
  position: relative;
}

.ingredient-info-header {
  position: absolute;
    padding: 9px 0 9px 5px;
    bottom: -11px;
    width: 100%;
    background: #5fd0184f;
    color: white;
    font-size: 1em;
}

.desc {
    font-weight: 100;
    margin: 20px 40px;
}

th.left span {
    color: #C8C8C8;
    font-size: 10px;
}

.nutrition-button {
  cursor: pointer;
  padding: 9px 0 9px 5px;
  margin: 0;
  background: #5fd0184f;
  color: white;
  font-size: 1em;
}

.nutritional-info--table{
  margin: 20px 20px;
  height: 0px;
  font-size: 0;
  display: none;
  transition: height 1s;
}

.nutritional-info--table.table-expanded {
  height: 205px;
  font-size: 1em;
  display: table;
}

.recipe-container {
  overflow: hidden !important;
}

.recipes {
  cursor: pointer;
    padding: 9px 0 9px 5px;
    margin: 0;
    background: #5fd0184f;
    color: white;
    font-size: 1em;
}

.recipe-list {
  height: 0;
  transition: height 1s;
}

.recipe-list.expanded {
  height: auto;
}

.recipe-list li:first-of-type {
  margin-top: 0;
}

.recipe-list li:last-of-type {
  margin-bottom: 0;
}

.recipe-list li {
  text-align: center;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url();
  background-size: cover;
  margin: 20px 0;
}

.recipe-list li a {
  background: white;
  color: black;
  text-decoration: none;
}

.grocery-info-container {
  overflow: hidden !important;
}

.grocery-header {
  cursor: pointer;
    padding: 9px 0 9px 5px;
    margin: 0;
    background: #5fd0184f;
    color: white;
    font-size: 1em;
}

.grocery-list {
  height: 0;
}

.grocery-list.expanded {
  height: auto;
}

.grocery-list li {
  display: flex;
  padding-top: 10px;
}

.grocery-list li p {
  font-size: 0.8em;
  margin: auto 0;
}

.grocery-list li img {

}

.grocery-list li p:first-of-type span {
    font-size: 0.8em;
    color: #d3d3d3;
    display: block;
}

.grocery-list li p:first-of-type {
  width: 60%;
}

.grocery-list li p:last-of-type {

}

#screen3 {
  background: white;
  height: 100%;
}

/***********\

#SCREEN 4

\***********/

#screen4 {
  background: white;
}

/* .food-info {
    padding: 0 20px 40px 20px;
}

.food-info--header {
  display: flex;
  align-items: center;
   width: 230px;
  margin: 0 auto;
}

.food-info--header div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 21px auto;
}

.food-info--header img {
  width: 130px;
  height: auto;
  margin-right: 40px;
}

.food-info p {
  margin: 0 auto;
  width: 230px;
} */





th.left {
  text-align: left;
}

th.right {
  text-align: right;
}

#vits {
  font-size: 0.43em;
}


/*------------------------------------*\
  #Utilities

\*------------------------------------*/

.back {
  cursor: pointer;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

.rotated-down {
  transform: rotate(90deg);
}

/*------------------------------------*\
  #Fluid grid

  Flex shorthand = flex: flex-shrink flex-grow flex-basis;
  Grid CSS calculated below

  Remember: Columns must be children of rows

\*------------------------------------*/

.row {
  display: flex;
  flex-direction: row;
}

.col-12 {
  flex: 0 0 100%
}

.col-11 {
  flex: 0 0 calc((100% / 12) * 11);
}

.col-10 {
  flex: 0 0 calc((100% / 12) * 10);
}

.col-9 {
  flex: 0 0 calc((100% / 12) * 9);
}

.col-8 {
  flex: 0 0 calc((100% / 12) * 8);
}

.col-7 {
  flex: 0 0 calc((100% / 12) * 7);
}

.col-6 {
  flex: 0 0 calc((100% / 12) * 6);
}

.col-5 {
  flex: 0 0 calc((100% / 12) * 5);
}

.col-4 {
  flex: 0 0 calc((100% / 12) * 4);
}

.col-3 {
  flex: 0 0 calc((100% / 12) * 3);
}

.col-2 {
  flex: 0 0 calc((100% / 12) * 2);
}

.col-1 {
  flex: 0 0 calc(100% / 12);
}

@media only screen and (min-width: 600px) {
    .container {
      display: none;
    }
}
